*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans- {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 img {
    width: 139px;
    height: 60px;
}
header {
    background-color: #ffffff;
    padding-top: 34px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.079);
}
nav{
    height: 92px;
    width: px;
    margin: 0% auto;
    align-items: center;
    padding: 16px 120px 16px 120px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap : 32px;
    list-style-type: none;
}
nav .menu li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
}

.btn {
    
    width: 164px;
    height: 44px;;
    border-radius:4px;
    display: flex;
    padding: 12px 16px 12px 16px;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 10px;
    background-color:#1c7541 ;
    color: aliceblue;
}

#banner {
    width: 100%;
    height: 700px;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner-cont {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
} 
.banner-cont h1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    text-transform: capitalize;
}

.banner-cont h1 .color-green {
    color: #30ac66;
}

.banner-cont p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
    font-style: Regular;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 32px;
}

.banner-cont .btn .b{
    gap: 16px;
    display: flex;
    align-items: center;
}